nav {
  background: rgb(180, 50, 33);
  background: linear-gradient(90deg, rgba(180, 50, 33, 1) 0%, rgba(0, 58, 213, 1) 100%);
}

#navbarName {
  font-size: 30px;
}

#navbarNav {
  display: flex;
  flex-direction: row-reverse;
  font-size: 25px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

/* stretch a background on the whole page */
body {
  background: rgb(180, 50, 33);
  background: linear-gradient(180deg, rgba(180, 50, 33, 1) 0%, rgba(0, 58, 213, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}